<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <metahttp-equiv="Content-Security-Policy"
    content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animali</title>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

      <link rel="icon" href="zoo.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="table.css">
</head>

<body onload="insertCombo(), eventButton()">

  <!--NAVBAR-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
    <a class="navbar-brand" href="index.html">
      <img src="zoo.png" class="icon" alt="">
    </a>
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html" id="tit">Zoo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="animali.html">Animali</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="classi.html">Classi</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--FINE NAVBAR-->

  <form class="center" method="post" action="animali/aggiungi" id="form">
    <h2 id="tit-animale">Animale</h2>
    <h3 class="bi bi-chevron-down indicator"></h3>
    <h1 id="tit-add-cla">INSERIRE I DATI</h1>
    <div class="form-group">
      <input type="text" maxlength="20" class="form-control input" id="nome" name="nome" placeholder="Inserisci il nome">
      <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    </div>
    <div class="form-group">
      <input type="text" maxlength="20" class="form-control input" id="razza" name="razza" placeholder="Inserisci la razza">
    </div>
    <div class="form-group">
      <select class="form-control input" id="classe" name="classe">

      </select>
    </div>
    <button type="submit" class="btn btn-primary invia" id="aggiungi-ani" disabled>Aggiungi</button>
  </form>
  <script src="main.js"></script>
  <script>
    document.getElementById("aggiungi-ani").addEventListener("click", function (event) {
      let nome = document.getElementById("nome").value;
      let razza = document.getElementById("razza").value;

      if (nome === "") {
        alert("NON HAI INSERITO IL NOME!");
        event.preventDefault();
      }
      else {
        if (razza === "") {
          alert("NON HAI INSERITO LA RAZZA!");
          event.preventDefault();
        }
      }
    });
  </script>
</body>

</html>